NODE-RED/Flow.json
[{"id":"3ef343ed.8b0a1c","type":"tab","label":"WaterMeterReader","disabled":false,"info":""},{"id":"63e91e32.f234b","type":"function","z":"3ef343ed.8b0a1c","name":"AppendDailyUsage","func":"context.threshold = 800;\ncontext.prevReading = context.prevReading || 0;\ncontext.isValidReading = context.isValidReading || false; \ncontext.dailyTimestamps = global.get(\"dailyTimestamps\") || [];\n\nif (msg.payload > context.threshold && context.prevReading != 0 && context.prevReading < context.threshold && context.validReading == true){\n    context.dailyTimestamps.push(Date.now());\n    global.set(\"dailyTimestamps\", context.dailyTimestamps);\n}\n\n\ncontext.prevReading = msg.payload;\n\nif (msg.payload > context.threshold){\n    context.validReading = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":320,"wires":[[]]},{"id":"e3ca9386.762538","type":"file","z":"3ef343ed.8b0a1c","name":"","filename":"./swarmfiles/readings.json","appendNewline":true,"createDir":true,"overwriteFile":"true","x":900,"y":400,"wires":[]},{"id":"10bd69d2.0d144e","type":"inject","z":"3ef343ed.8b0a1c","name":"Daily Injection","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":true,"onceDelay":0.1,"x":360,"y":580,"wires":[["4fa76321.84c18c"]]},{"id":"d53574f0.759e","type":"exec","z":"3ef343ed.8b0a1c","command":"swarm up ./swarmfiles/readings.json","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":910,"y":520,"wires":[["a798a88d.830538","2c41f751.4af8a"],[],[]]},{"id":"2c41f751.4af8a","type":"debug","z":"3ef343ed.8b0a1c","name":"SWARM FILE HANDLE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":460,"wires":[]},{"id":"a798a88d.830538","type":"function","z":"3ef343ed.8b0a1c","name":"AppendSwarmFileHandle","func":"var  Web3 = global.get('web3');\n\nvar  abi = [\n\t{\n\t\t\"constant\": false,\n\t\t\"inputs\": [\n\t\t\t{\n\t\t\t\t\"name\": \"_fileHandle\",\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\": \"_year\",\n\t\t\t\t\"type\": \"uint256\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\": \"_month\",\n\t\t\t\t\"type\": \"uint256\"\n\t\t\t}\n\t\t],\n\t\t\"name\": \"setSwarmFileHandle\",\n\t\t\"outputs\": [],\n\t\t\"payable\": false,\n\t\t\"stateMutability\": \"nonpayable\",\n\t\t\"type\": \"function\"\n\t},\n\t{\n\t\t\"payable\": false,\n\t\t\"stateMutability\": \"nonpayable\",\n\t\t\"type\": \"fallback\"\n\t},\n\t{\n\t\t\"inputs\": [],\n\t\t\"payable\": false,\n\t\t\"stateMutability\": \"nonpayable\",\n\t\t\"type\": \"constructor\"\n\t},\n\t{\n\t\t\"constant\": true,\n\t\t\"inputs\": [\n\t\t\t{\n\t\t\t\t\"name\": \"_year\",\n\t\t\t\t\"type\": \"uint256\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\": \"_month\",\n\t\t\t\t\"type\": \"uint256\"\n\t\t\t}\n\t\t],\n\t\t\"name\": \"getSwarmFileHandle\",\n\t\t\"outputs\": [\n\t\t\t{\n\t\t\t\t\"name\": \"\",\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t],\n\t\t\"payable\": false,\n\t\t\"stateMutability\": \"view\",\n\t\t\"type\": \"function\"\n\t}\n];\n\nglobal.set(\"swarmFileContent\", null);\nnode.on('close', function() {\n    global.set(\"swarmFileContent\", null);\n});\n\nvar  main_account = \"\"; // Main account\n\nweb3 = new Web3(new Web3.providers.HttpProvider(\"http://localhost:8000\"));\n\n\nvar simpleContract = web3.eth.contract(abi).at(\"0x9a9c0adbe7349f534601e15c30448fe07c84e0ac\"); //  deployed  contract  address\n\nvar password = \"\"; // Account Password\n\nvar currentDate = new Date();\n\nweb3.personal.unlockAccount(main_account, password, 30);\n\nvar retcont = simpleContract.setSwarmFileHandle(msg.payload, currentDate.getFullYear(), currentDate.getMonth(), {from:main_account });\nmsg.payload = {};\nmsg.payload.month = currentDate.getMonth();\nmsg.payload.year = currentDate.getFullYear();\nmsg.payload.hashValue = retcont;\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":640,"wires":[["bcd1204f.ce3548"]]},{"id":"dd6bb940.ab9a88","type":"arduino in","z":"3ef343ed.8b0a1c","name":"SensorPi","pin":"2","state":"ANALOG","arduino":"deaa1cb1.dd5c68","x":320,"y":240,"wires":[["f3c077ec.1a7848"]]},{"id":"f3c077ec.1a7848","type":"delay","z":"3ef343ed.8b0a1c","name":"Second Delay","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":540,"y":280,"wires":[["63e91e32.f234b","99e42277.324128"]]},{"id":"4067d5ab.05a67c","type":"function","z":"3ef343ed.8b0a1c","name":"FormSwarmFile","func":"context.sensorId = \"df2b0915-31b5-4622-aec0-0d9be3777502\";\ncontext.swarmFileContent = global.get(\"swarmFileContent\") || { \"sensorId\": context.sensorId, \"dailyUsage\": [] };\ncontext.dailyTimestamps = global.get(\"dailyTimestamps\") || [];\n\ncontext.swarmFileContent[\"dailyUsage\"].push(context.dailyTimestamps);\nglobal.set(\"swarmFileContent\", context.swarmFileContent);\nglobal.set(\"dailyTimestamps\", []);\n\nmsg = {\n    payload: context.swarmFileContent\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":440,"wires":[["e3ca9386.762538"]]},{"id":"89477ecb.a49e9","type":"inject","z":"3ef343ed.8b0a1c","name":"DailyTimestamp","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":440,"wires":[["4067d5ab.05a67c"]]},{"id":"a2ea5558.e91de","type":"http in","z":"3ef343ed.8b0a1c","name":"FetchUsageEndpoint","url":"/fetchusage","method":"get","upload":false,"swaggerDoc":"","x":350,"y":720,"wires":[["db4a6870.ea4a48","268cbac0.707e46"]]},{"id":"db4a6870.ea4a48","type":"function","z":"3ef343ed.8b0a1c","name":"FetchUsageFunction","func":"var  Web3 = global.get('web3');\n\nvar  abi = [\n\t{\n\t\t\"constant\": false,\n\t\t\"inputs\": [\n\t\t\t{\n\t\t\t\t\"name\": \"_fileHandle\",\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\": \"_year\",\n\t\t\t\t\"type\": \"uint256\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\": \"_month\",\n\t\t\t\t\"type\": \"uint256\"\n\t\t\t}\n\t\t],\n\t\t\"name\": \"setSwarmFileHandle\",\n\t\t\"outputs\": [],\n\t\t\"payable\": false,\n\t\t\"stateMutability\": \"nonpayable\",\n\t\t\"type\": \"function\"\n\t},\n\t{\n\t\t\"payable\": false,\n\t\t\"stateMutability\": \"nonpayable\",\n\t\t\"type\": \"fallback\"\n\t},\n\t{\n\t\t\"inputs\": [],\n\t\t\"payable\": false,\n\t\t\"stateMutability\": \"nonpayable\",\n\t\t\"type\": \"constructor\"\n\t},\n\t{\n\t\t\"constant\": true,\n\t\t\"inputs\": [\n\t\t\t{\n\t\t\t\t\"name\": \"_year\",\n\t\t\t\t\"type\": \"uint256\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\": \"_month\",\n\t\t\t\t\"type\": \"uint256\"\n\t\t\t}\n\t\t],\n\t\t\"name\": \"getSwarmFileHandle\",\n\t\t\"outputs\": [\n\t\t\t{\n\t\t\t\t\"name\": \"\",\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t],\n\t\t\"payable\": false,\n\t\t\"stateMutability\": \"view\",\n\t\t\"type\": \"function\"\n\t}\n];\n\nvar  main_account = \"\"; // Account\n\nweb3 = new Web3(new Web3.providers.HttpProvider(\"http://localhost:8000\"));\n\nvar simpleContract = web3.eth.contract(abi).at(\"0x9a9c0adbe7349f534601e15c30448fe07c84e0ac\"); // Contract deployed address\n\nvar password = \"\"; // Main account password\n\nweb3.personal.unlockAccount(main_account, password, 30);\n\nvar x = simpleContract.getSwarmFileHandle(msg.payload.year, msg.payload.month, {from:main_account });\n\nmsg.payload = x;\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":700,"wires":[["9b605313.0d35e8"]]},{"id":"268cbac0.707e46","type":"debug","z":"3ef343ed.8b0a1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":800,"wires":[]},{"id":"9b605313.0d35e8","type":"http response","z":"3ef343ed.8b0a1c","name":"HTTP OUTPUT","statusCode":"200","headers":{},"x":1020,"y":700,"wires":[]},{"id":"99e42277.324128","type":"debug","z":"3ef343ed.8b0a1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":220,"wires":[]},{"id":"4fa76321.84c18c","type":"function","z":"3ef343ed.8b0a1c","name":"LastDayOfMonthInjection","func":"var curDate = new Date(msg.payload);\nif (new Date(curDate.getTime() + 86400000).getDate() != 1) {\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":580,"wires":[["6fb86f81.14b01"]]},{"id":"6fb86f81.14b01","type":"switch","z":"3ef343ed.8b0a1c","name":"Swarm Upload Decider","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"null","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":620,"wires":[["d53574f0.759e"]]},{"id":"bcd1204f.ce3548","type":"debug","z":"3ef343ed.8b0a1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1360,"y":580,"wires":[]},{"id":"deaa1cb1.dd5c68","type":"arduino-board","z":"","device":"/dev/ttyACM0"}]
